body{
    text-align: center;
    margin: 20%;
    font-size: x-large;
}
button{
     border-radius: 30%;
     /* width: 20%; */
     padding: 2%;
     font-size: x-large;
     background-color: blueviolet;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-weight: bold;
     
     
}